name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Run Nigiri
        uses: vulpemventures/nigiri-github-action@v1
          
      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test
        run: make test